*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.projectsmain{
    background: linear-gradient(to left, hsl(207, 74%, 55%), #eef2f3); 

}
.projects{
    background: linear-gradient(to left, hsl(207, 74%, 55%), #eef2f3); 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.container-fluid .projectsmain .heading{
    text-align: center;    background: linear-gradient(to left, hsl(207, 74%, 55%), #eef2f3); 
     font-size: 30PX;
     margin: 5px 0px 5px 0px;
    
}
.container-fluid .projectsmain .title1{
    text-align: center;    background: linear-gradient(to left, hsl(207, 74%, 55%), #eef2f3); 
    margin: 5px 0px 5px 0px;

}
.container-fluid .projectsmain .title2{
    text-align: center;    background: linear-gradient(to left, hsl(207, 74%, 55%), #eef2f3); 
    margin: 5px 0px 5px 0px; 

}


.card-body img{
    max-width: 100%;
    max-height: 100%;
}
 .card-head{
    text-align: center;
    
}

.projects .card-bottom{
    text-align: center;
    margin: 10px 10px;   
}
.card-footer {
    border-radius:10%;
    display: flex;
    justify-content: center;
}
.projects .card{
    margin: 10px 10px 10px 10px;
}

   
   
   
   
   
   
   
   